.modal__container
	.modal__content
		h1.modal__title= title
		p.modal__message= message
		.modal__buttons
			.topcoat-button-bar
				.topcoat-button-bar__item
					button.topcoat-button-bar__button(data-class='dismiss') Close
